{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "keepClassNames": true,
    "paths": {
      "@core/*": [
        "./src/core/*"
      ],
      "@nest/*": [
        "./src/nest-modules/*"
      ],
      "@health-check/*": [
        "libs/health-check/src/*"
      ]
    }
  },
  "minify": false
}